
        body {
            font-family: Arial, sans-serif;
            background-color: #131621;
            margin: 0;
            padding: 0;
            height: 100vh;
        }
        h1 {
            color: #88b9da;
            margin-top: 20px;
            text-align: center;

        }
        input[type="text"] {
            padding: 10px;
            font-size: 16px;
            margin-top: 10px;
            text-align: center;

        }
        button {
            border-radius: 5%;
            padding: 10px 20px;
            font-size: 16px;
            margin-top: 10px;
            background-color: #0078d4;
            color: white;
            border: none;
            cursor: pointer;
            text-align: center;

            
        }
        button:hover {
            background-color: #005ba1;
        

        }
        #main-title {
    color: #88b9da;
    font-size: 60px;
    padding-bottom: 300px;
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
p {
    color: #ffffff;
}