<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('docanalysis') }}">Doc Analyzer</a>


    </nav>

    <h1> Analyze Documents</h1>
    <p>Have a earnings call/quarterly transcript, research paper regarding a company, or just a document you want to analyze? Upload it here! Please note that the document must be in PDF format. Also I would appreciate that any file sizes are relatively small and as few pages as possible </p>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="pdf_file" accept=".pdf" required>
        <input type="submit" value="Upload">
    </form>

</body>
</html>
